<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Whoopsy! Page not found.</h3>
            <h1>
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
        </div>
        <h2>looks like you tried to access something that doesnt exist</h2>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" class="btn btn-primary" routerLink="">
                Back we go
            </button>
        </div>
    </div>
</div>
