<div class="container">
    <h1 class="font-weight-light text-center mt-4 mb-0">
        Connor Hawes | CV
    </h1>
    <hr class="mt-2 mb-5">

    <h2 class="font-weight-light text-center mt-4 mb-0">
        Profile
    </h2>
    <hr class="mt-2 mb-5">
    <p class="font-weight-light text-center mt-4 mb-0">
        I am a focussed and goal driven individual with a capacity for  attuning ones self and supporting others.
    </p>

    <h2 class="font-weight-light text-center mt-4 mb-0">
        Work Experience
    </h2>
    <hr class="mt-2 mb-5">
    <h3 class="font-weight-light text-center mt-4 mb-0">
        Telent Technology Services - 09/2018 - Present
    </h3>
    <h4 class="font-weight-light text-center mt-4 mb-0">
        Telent, Warwick
    </h4>
    <p class="font-weight-light text-center mt-4 mb-0">
        I started at Telent in 2018 as a Graduate engineer, once the programme ended I was promoted to my current role.
        <br>
        <br><b>What I worked on:</b>
    </p>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>A national scale network transformation including bespoke camera monitoring, maintenance, and control software.</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>An internal alarm aggregation tool to corroborate information between multiple asset monitoring systems.</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>A camera maintenance and monitoring system including alignment tooling.</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>A Site level asset monitoring application with multiple assets and sensor types.</p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <p>Scripts and configurations to monitor System X for BT.</p>
        </div>
    </div>

    <h2 class="font-weight-light text-center mt-4 mb-0">
        Education
    </h2>
    <hr class="mt-2 mb-5">
    <h3 class="font-weight-light text-center mt-4 mb-0">
        1st Class (Hons) BSc Computer Information Systems
    </h3>
    <h4 class="font-weight-light text-center mt-4 mb-0">
        Bangor University, Wales: 09/2015 - 07/2018
    </h4>
    <p class="font-weight-light text-center mt-4 mb-0">
        My dissertation focussed on the Data Extraction and Display of Multi-Source Energy Metrics,
        working in processing and using data visualisation techniques to produce an energy monitor
        that is effective in changing energy usage behaviour.
    </p>

    <h2 class="font-weight-light text-center mt-4 mb-0">
        Skills
    </h2>

    <hr class="mt-2 mb-5">

    <table class="table">
        <thead>
            <tr class="table-dark">
                <th scope="col">Skill</th>
                <th scope="col">Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Angular</td>
                <td>8/10</td>
            </tr>
            <tr>
                <td>C#</td>
                <td>7/10</td>
            </tr>
            <tr>
                <td>Python</td>
                <td>6/10</td>
            </tr>
            <tr>
                <td>SQL</td>
                <td>6/10</td>
            </tr>
        </tbody>
    </table>

    <h2 class="font-weight-light text-center mt-4 mb-0">
        Projects
    </h2>

    <hr class="mt-2 mb-5">

    <div class="grid">
      <ng-container class="github-cards" *ngFor="let repo of repos">
        <github-card
          *ngIf="repo.visibility == 'public'"
          [html_url]="repo.html_url" [name]="repo.name"
          [description]="repo.description" [language]="repo.language"
          [stargazers_count]="repo.stargazers_count" [forks_count]="repo.forks_count">
        </github-card>
      </ng-container>
    </div>

    <h2 class="font-weight-light text-center mt-4 mb-0">
        Achievements
    </h2>

    <hr class="mt-2 mb-5">

    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="https://www.credly.com/badges/a5dd0e8a-c913-4349-9dcd-2d7465d2fa6b/public_url">
                <img alt="PSM 1 Badge" src="assets/images/professional-scrum-master-i-psm-i.png" width=138 height="138">
            </a>
        </div>
    </div>

    <br>

    <hr class="mt-2 mb-5">

</div>
