<div class="container">
    <h1 class="font-weight-light text-center mt-4 mb-0">Connor Hawes | CV</h1>

    <h2 class="font-weight-light text-center mt-4 mb-0">Profile</h2>
    <hr class="mt-2 mb-5">
    <p class="font-weight-light text-center mt-4 mb-0">I am a focussed and goal driven individual with a capacity for  attuning ones self and supporting others.</p>

    <h2 class="font-weight-light text-center mt-4 mb-0">Work Experience</h2>
    <hr class="mt-2 mb-5">
    <h3 class="font-weight-light text-center mt-4 mb-0">Telent Technology Services - 09/2018 - Present</h3>
    <h4 class="font-weight-light text-center mt-4 mb-0">Telent, Warwick</h4>
    <p class="font-weight-light text-center mt-4 mb-0">I started at Telent in 2018 as a Graduate engineer, once the programme ended I was promoted to my current role.</p>
    <ul>
        <li class="font-weight-light text-center mt-4 mb-0">NRTS</li>
        <li class="font-weight-light text-center mt-4 mb-0">Unity</li>
        <li class="font-weight-light text-center mt-4 mb-0">Acumen</li>
        <li class="font-weight-light text-center mt-4 mb-0">Arbitex</li>
        <li class="font-weight-light text-center mt-4 mb-0">System X</li>
    </ul>
    
    <hr class="mt-2 mb-5">
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary" [href]="pdfSrc" role="button">Download</a>
    </div>
</div>