<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Email Submission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <form [formGroup]="formData">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" name="Email" aria-describedby="emailHelp" placeholder="Enter email"formControlName="Email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="fullname">Full Name</label>
                                <input type="text" class="form-control" name="Fullname" placeholder="Full Name" formControlName="Fullname">
                            </div>
                            <div class="form-group">
                                <label for="comment">Message</label>
                                <textarea class="form-control" formControlName="Comment" name="Comment"></textarea>
                            </div>
                            <div class=""form-group>
                                <input type="hidden" name="_subject" value="Contact form submitted">
                                <input type="hidden" name="_honeypot" value="">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button #closebutton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" [disabled]="!formData.valid" (click)="onSubmit(formData.value)">Send Message</button>
            </div>
        </div>
    </div>
</div>