<div class="container">
    <h3 class="font-weight-light text-center mt-4 mb-0">About</h3>
    <p class="font-weight-light text-center mt-4 mb-0">This blog is written as technical learning documents for review by the author. If anyone is to find this useful it would be a pleasure.</p>
</div>

<div class="container">
    <h3 class="font-weight-light text-center mt-4 mb-0">Posts</h3><br>
    <div class="band" *ngFor="let post of posts">
        <div class="item-1">
            <a [routerLink]="['post', post.id]" class="card">
                <article>
                    <h1>{{post.title}}</h1>
                    <span>{{ post.author.displayName }} - {{ post.published | date:'medium' }}</span>
                </article>
            </a>
        </div><br>
    </div>
</div>
